.nav {
    margin: 1rem;
    text-align: center;
}
.nav-a {
    text-decoration: none;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .nav {
        width: auto;
        margin: 0.5rem,
    }
    .nav-a {
        font-size: 1rem;
    }
}