.div-mid-flex{
    margin: 0.5rem 1rem;
    /* margin-right: 10%; */
    /* margin-top: 2rem; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}